:root{
  --blue: #006FEE;
  --blue-opacity: #0664ce;
  --white: #FFFFFF;
  --black-opacity: #11111126;
  --gray: #D4D4D866;
  --gray-opacity: #FAFAFA;
  --grean: #17C964;
  --grean-opacity: #17C96433;
  --orange:#F5A524;
  --black: #000000;

}
*,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.body{
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 2rem 32px 2rem;
}
.head {
  width: auto;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head_logo{
  display: flex;
  align-items: center;
}
.head_logo a{
  text-decoration: none;
}
.head_logo .name_logo{
  margin-left: 0.375rem;
  color: var(--blue);
}
.head_menu{
  height: max-content;
  display: flex;
}
.head_menu div{
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}
.head_menu div:hover{
  background-color: var(--blue-opacity);
}
.head_menu > div:not(:last-of-type) {
  border-right: 1px solid rgba(0, 0, 0, 0.329);
}
.head_menu > div:last-of-type{
  border-bottom-right-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}
.head_menu > div:first-of-type{
  border-bottom-left-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
}
.main{
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.promo{
  padding: 4rem;
  border-radius: 4rem;
  background: linear-gradient(#E0EEFF, #FFE6E6);
  display: flex;
}
.promo .childrenWrap{
  width: 5.688rem;
  height: 2.75rem;
  text-align: center;
  align-content: center;
  border: 1px solid var(--blue);
  border-radius: 4rem;
}
.promo-content{
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}
.promo-text{
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.promo-btn{
  width: 100%;
  padding: 2rem 3rem 2rem 3rem;
  border-radius: 100rem;
  background-color: var(--blue);
  color: var(--white);
  text-align: center;
  cursor: pointer;
}
.promo-img{
  width: 36rem;
  height: 37rem;
  cursor: pointer;
  content: inherit;
}
.line-title{
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1.25fr 0.5fr 1.25fr;
}
.line{
  width: 100%;
  height: 0;
  border: 1px solid var(--black-opacity);
}
.line-title p{
  text-align: center;
  width: max-content;
  margin: 0 0.4rem 0 0.4rem;
}
.heart{
  color: black;
}
.courses-container{
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}
.container{
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 37.667rem;
  min-width: 23rem;
  height: 15.5rem;
  padding: 32px;
  border-radius: 32px;
  border: 1px solid var(--gray);
  background-color: var(--gray-opacity);
}

.container-text{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.courses-container .text-user, .user-name, .user-point{
  display: flex;
}
.courses-container .text-user{
  gap: 10px;
}
.courses-container  .user-name{
  width: max-content;
  height: max-content;
  padding: 0.25rem 0.35rem 0.25rem 0.35rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--gray);
}
.courses-container  .user-point{
  width: max-content;
  height: max-content;
  padding: 0.25rem 0.35rem 0.25rem 0.35rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--gray);
}

.courses-container img{
  width: 1.25rem;
  height: 1.25rem;
}
.courses-container .container-btn{
  width: 6.813rem;
  height: 2.5rem;
  padding: 0.5rem;
  border-radius: 0.75rem;
  background-color: var(--blue);
  color: var(--white);
  text-align: center;
  cursor: pointer;
}

.reviewColorGrean{
  color: var(--grean);
}

.reviewColorOrange{
  color: var(--orange);
}

#dateReview{
  color: var(--gray);
}
.reviews{
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.reviews-container{
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 26.25rem;
  max-width: 26.25rem;
  height: 11rem;
  padding: 32px;
  border-radius: 32px;
  border: 1px solid var(--gray);
  background-color: var(--gray-opacity);
}
.reviews .text-user{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviews .user{
  display: flex;
  align-items: center;
  gap: 10px;
}
.reviews-container  .user-name{
  width: max-content;
  height: max-content;
  padding: 0.25rem 0.35rem 0.25rem 0.35rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--gray);
}
.reviews-container  .user-point{
  width: max-content;
  height: max-content;
  padding: 0.25rem 0.35rem 0.25rem 0.35rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--grean-opacity);
}
.reviews-item{
  display: flex;
  gap:16px;
  overflow: scroll;
}

/* .reviews-scroll{
  box-shadow: 0 15px 30px 10px rgba(0, 0, 0, .5) inset;
} */

.footer{
  width: 100%;
  height: max-content;
  background-color: var(--gray);
  padding: 64px 32px 16px 32px;
  display: flex;
  flex-direction: column;
  gap: 46px;
}
.footer-info{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-line{
  width: 0px;
  height: 28px;
  border: 1px solid var(--gray);
}
.footer-link{
  display: flex;
  align-items: center;
  gap: 19px;
  color: var(--blue);
}
.footer-link a{
  color: var(--blue);
}
.footer-logo{
  display: flex;
  align-items: center;
  gap: 19px;
}


.logo-mobile{
  width: 44px;
  height: 44px;
  border:1px solid var(--gray);
  border-radius: 25%;
  align-content: center;
  text-align: center;
  display: none;
}
.logo-mobile-popup{
  width: 44px; 
  height:  44px;
  position: absolute;
  top: 35px;
  right: 60px;
  color: var(--white);
}
.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.874);
  text-align: center;
  align-content: center;
  z-index: 1;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 4.5rem;
  line-height: 4.5rem;
  display: none;
}
.popup p{
  color: var(--white);
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  width: max-content;
}
.popup p:hover{
  background-color: var(--white);
  color: var(--black);
}
.active{
  display: block;
}
.block-scroll{
  overflow-y: hidden;
}
@media (1024px <= width <= 1280px) {
    .promo-img{
      display: none;
    }
    .courses-container{
      grid-template-columns: 1fr 1fr;
    }
}
@media (0px <= width <= 1024px) {
    .promo-img{
      display: none;
    }
    .footer-link{
      align-items: flex-start;
      flex-direction: column;
    }
    .footer-line{
      display: none;
    }
}
@media (840px <= width <= 1024px) {
    .promo-img{
      display: none;
    }
    .courses-container{
      grid-template-columns: 1fr 1fr;
    }
}
@media (0px <= width <= 840px) {
  .courses-container{
    grid-template-columns: 1fr;
  }
  .logo-mobile{
    display: block;
  }
  .head_menu{
    display: none;
  }
  .body { 
    margin: 0 1rem 16px 1rem;
  }
  .promo{
    padding: 2rem;
    border-radius: 2rem;
  }
  .promo-btn{
    padding: 1.5rem 2rem 1.5rem 2rem
  }
}